.nav
  display: flex
  z-index: 100
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $white
    display: none
    z-index: 100
    +TAB_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 40px
    height: 40px
    font-size: 24px
    position: fixed
    right: 20px
    top: 15px
    background: $blue
    color: $white
    cursor: pointer
    +TAB_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +PHONE_ONLY
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      text-align: center
    +TAB_MIN
      display: flex !important
  
  &__item
    +flex-center
    &.-icons
      +PHONE_ONLY
        margin-top: 30px
      +TAB_MIN
        margin-left: 10px
  
  &__link
    +flex-center
    color: $gray
    height: 50px
    z-index: 2
    position: relative
    transition: 0.3s ease all
    +PHONE_ONLY
      width: 220px
    +TAB_MIN
      padding: 0 20px
    &:hover
      color: $blue
      text-decoration: none