nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='#info') what we do
    li.nav__item
      a.nav__link(href='#about') who we are
    li.nav__item
      a.nav__link(href='#contactTop') contact us
    li.nav__item.-icons
      include ../icons/icons-light