.gallery
  .gallery__box.wow.fadeInUp
    - for(var i = 1; i <= 6; i++)
      - var number = i % 3 + 1;
      - var imgSrc = imgDir + 'gallery__item-' + number + '.jpg';
      - var thumbSrc = 'background-image: url('+ imgDir + 'gallery__item-' + number + '.jpg)';
      a.gallery__item(href=imgSrc title='Some description to change')
        .gallery__thumb(style=thumbSrc)

  .gallery__arrows