extends ../layout/body

block headScripts

block content
  include ../components/header/header
  include ../components/banner/banner
  include ../components/info/info
  include ../components/works/works
  include ../components/views/views
  include ../components/offer/offer
  include ../components/info/info-about
  include ../components/gallery/gallery
  include ../components/info/info
  include ../components/contact/contact
