@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-Light.otf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-LightItalic.otf') format("truetype")
  font-weight: 300
  font-style: italic
  
@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-Normal.otf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-NormalItalic.otf') format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-Medium.otf') format("truetype")
  font-weight: 500
  font-style: normal
  
@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-MediumItalic.otf') format("truetype")
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-Bold.otf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Gotham Rounded'
  src: url('../fonts/GothamRounded-BoldItalic.otf') format("truetype")
  font-weight: bold
  font-style: italic
  
=fontGotham
  font-family: 'Gotham Rounded', sans-serif
  
=fontLato
  font-family: 'Lato', sans-serif
  