.contact
  position: relative
  overflow: hidden
    
  &__element
    +PC_MIN
      position: absolute
      top: 50%
      right: 0
      width: 50%
      transform: translateY(-50%)
    
  &__elementBox
    width: 100%
    +PC_MIN
      width: 500px
      