.banner
  - var itemStyle = "background-image: url("+ imgDir +"banner__bg.jpg)";
  .banner__blurBg(style=itemStyle)

  .banner__svg.wow(data-wow-delay="1.7s")
    include src/img/banner__svg.svg

  .banner__text.container
    .banner__titleBox.wow.fadeInUp(data-wow-delay="0.5s")
      .banner__title Creating unique gaming experiences
      .banner__subTitle in social sports betting

  .banner__bottom

  .banner__images
    - var imgSrc = imgDir + "banner__ball.png";
    img.banner__ball(src=imgSrc alt="pc" data-wow-delay="0.5s").wow.fadeInRight

    - var imgSrc = imgDir + "banner__phone.png";
    img.banner__phone(src=imgSrc alt="phone" data-wow-delay="0.6s").wow.fadeInRight

    - var imgSrc = imgDir + "banner__rugby.png";
    img.banner__rugby(src=imgSrc alt="rugby" data-wow-delay="0.7s").wow.fadeInRight

    - var imgSrc = imgDir + "banner__pc.png";
    img.banner__pc(src=imgSrc alt="pc" data-wow-delay="1.3s").wow.fadeInRight

    - var imgSrc = imgDir + "banner__tennis.png";
    img.banner__tennis(src=imgSrc alt="tennis" data-wow-delay="1.4s").wow.fadeInRight

    - var imgSrc = imgDir + "banner__hockey.png";
    img.banner__hockey(src=imgSrc alt="hockey" data-wow-delay="1.5s").wow.fadeInRight