=OFF
  @media (max-height: 729px)
    @content

=MINI
  @media (min-height: 730px)
    @content
  
=MED
  @media (min-height: 770px)
    @content

=BEST
  @media (min-height: 870px)
    @content
    
=HIGH
  @media (min-height: 1000px)
    @content
    
=SUPHIGH
  @media (min-height: 1300px)
    @content

.banner
  min-height: 400px
  height: 100vh
  position: relative
  overflow: hidden
  
  &__blurBg
    +section-bg
    transform: scale(1.1)
    filter: blur(10px)
    position: absolute
    top: 0
    left: 0
    height: 85%
    width: 100%
    z-index: 1
    
  &__svg
    position: absolute
    top: -90px
    left: 50%
    height: 80%
    width: 80%
    transform: translateX(-50%)
    z-index: 2
    fill: transparentize($white, 0.95)
  
  &__text
    position: relative
    z-index: 2
    padding-top: 130px
    color: $white
    +PC_MIN
      padding-top: 175px
  
  &__title
    text-transform: uppercase
    font-size: 44px * 0.6
    +PC_MIN
      font-size: 44px
  
  &__subTitle
    font-size: 38px * 0.6
    +PC_MIN
      font-size: 38px
      
  &__bottom
    background: $white
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 15%
    z-index: 3
  
  &__images
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    z-index: 3
    +OFF
      display: none
    +MINI
      transform: translateX(-50%) scale(0.6)
    +MED
      transform: translateX(-50%) scale(0.8)
    +BEST
      transform: translateX(-50%) scale(1)
    +HIGH
      transform: translateX(-50%) scale(1.3)
    +SUPHIGH
      transform: translateX(-50%) scale(1.6)
  
  &__ball
    position: absolute
    right: calc(50% + 185px)
    bottom: 0
    z-index: 3
    height: 250px
  
  &__phone
    position: absolute
    left: calc(50% + 80px)
    bottom: 15px
    height: 202px
    z-index: 3
  
  &__rugby
    position: absolute
    left: calc(50% + 165px)
    bottom: 5px
    height: 220px
    z-index: 3
  
  &__pc
    position: absolute
    margin: auto
    left: 0
    right: 0
    bottom: 70px
    z-index: 2
    height: 461px
  
  &__tennis
    position: absolute
    left: calc(50% + 200px)
    bottom: 210px
    z-index: 1
    height: 250px
  
  &__hockey
    position: absolute
    right: calc(50% + 175px)
    bottom: 190px
    height: 240px
    z-index: 1
    
  