.footer
  .container.wow.fadeInUp
    .footer__title
      include ../title/title

    .footer__text 136-144 New King’s Rd, London SW6 4LZ, United Kingdom

    .footer__icons
      include ../icons/icons-dark