.offer
  .container.wow.fadeInUp
    .offer__title
      include ../title/title

    .offer__flex
      .offer__item
        .offer__titleSmall
          include ../title/title-small

        .offer__text Use our platform to gain access to new markets and advertising channels and drive in new customers. Or use it to engage or reactivate your existing audience. Minimal management effort required.

      .offer__item
        .offer__titleSmall
          include ../title/title-small

        .offer__text Drive traffic to the platform and monetise it with advertising deals with bookmakers and consumer brands. We can manage the entire operation for you or you can use your in-house team