.offer
  padding: 50px 0
  overflow: hidden
  
  &__title
    margin-bottom: 38px
    
  &__titleSmall
    margin-bottom: 20px
  
  &__flex
    display: flex
    justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
      
  &__item
    +PHONE_ONLY
      &:nth-child(1)
        margin-bottom: 20px
    +TAB_MIN
      max-width: 400px
      &:nth-child(1)
        margin-right: 20px
      &:nth-child(2)
        margin-left: 20px