.button
  +fontLato
  +font(size 14px weight 700)
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  background: $blue
  color: #FFFFFF
  height: 50px
  padding: 0 40px
  cursor: pointer
  transition: 0.3s ease all
  border: none
  border-radius: 6px
  &:hover
    text-decoration: none
    background: $blueLight
    
  &.-form
    +fontGotham
    +font(size 21px weight 500)
    width: 100%
    +MIN(768px)
      width: calc(50% - 10px)