.works
  .container
    .works__title.wow.fadeInRight
      include ../title/title

    .works__box

      .works__item.wow.fadeInRight(data-wow-delay="0.3s")
        .works__itemIcon
          include src/img/works__icon-1.svg
        .works__itemTitle Play
        .works__itemText Enjoy an engaging and social sports gaming experience. Easy to use and plenty of fun.

      .works__item.wow.fadeInRight(data-wow-delay="0.6s")
        .works__itemIcon
          include src/img/works__icon-2.svg
        .works__itemTitle Compete
        .works__itemText Compete with friends and colleagues, as well as a complete community of sports fans.


      .works__item.wow.fadeInRight(data-wow-delay="0.9s")
        .works__itemIcon
          include src/img/works__icon-3.svg
        .works__itemTitle Learn
        .works__itemText Learning by playing. Become a fantastic sports better, without spending your hard earned money.

      .works__item.wow.fadeInRight(data-wow-delay="1.2s")
        .works__itemIcon
          include src/img/works__icon-4.svg
        .works__itemTitle Win
        .works__itemText Win virtual currency and spend it on fantastic prizes. Everyone can win!


    .works__button.wow.fadeInUp
      include ../button/button