.works
  padding: 50px 0
  overflow: hidden
  
  &__title
    margin-bottom: 24px
    
  &__box
    display: flex
    flex-wrap: wrap
    +PHONE_ONLY
      flex-direction: column
      
  &__item
    padding: 0 10px 35px
    width: 100%
    +TAB_MIN
      width: 50%
      padding: 0 10px 25px
    +PC_MIN
      width: 25%
    
  &__itemIcon
    +flex-center
    height: 80px
    
  &__itemTitle
    +font(size 21px weight 500)
    text-transform: uppercase
    margin: 5px 0
    
  &__itemText
    padding-top: 15px
    border-top: 1px solid transparentize($grayBorder, 0.2)