.form

  .form__msg.-positive.-hide Message was send
  .form__msg.-negative.-hide Problem with serwer

  form.form__content(name='form' action='mail.php' method='POST')
    .form__row
      input.form__input(type='email' name='email' placeholder='Your Email' pattern=".{1,60}" required='')
      input.form__input(type='text' name='name' placeholder='Your Name' required='')
    textarea.form__textarea(name='msg' placeholder="Your Message")

    .form__button
      include ../button/button-form