#map
  
  &__canvas
    width: 100%
    height: 300px
    +PC_MIN
      height: 540px
  
  &__marker
    padding: 10px
    position: absolute
    transform: translate(-50%, -50%)
    transition: 0.2s ease all
    &:hover
      text-decoration: none
      transform: translate(-50%, -50%) scale(1.1)
      
  &__icon
    +font(size 38px)
    margin-bottom: 5px
    
  .gm-style-cc
    display: none