- var markerSrc = imgDir + 'map__marker.png';

script.
  var mapLat = 51.471501;
  var mapLng = -0.206255;
  var mapZoom = 15;

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom);
  }
#map
  #map__canvas
  a(href='https://www.google.pl/maps/dir/52.271722,21.074583/@52.271722,21.074583,17z' target='_blank')#map__marker
    img(src=markerSrc alt='marker')#map__icon