include config

doctype html
html(lang='en')

  include head

  body

    include ../components/loader/loader

    block content

    include ../components/footer/footer

    block scripts
      <!-- build:js #{jsLib} -->
      <!-- bower:js -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js #{jsProd} -->
      script(src=jsDev)
      <!-- endbuild -->