- var title = 'Oddslife';

- var imgDir = config.DIST.imgDir;

- var cssDev = config.DIST.cssDir + config.DIST.cssDevFile;
- var jsDev = config.DIST.jsDir + config.DIST.jsDevFile;

- var cssProd = config.DIST.cssDir + config.DIST.cssProdFile;
- var jsProd = config.DIST.jsDir + config.DIST.jsProdFile;

- var cssLib = config.DIST.cssDir + config.DIST.cssLibFile;
- var jsLib = config.DIST.jsDir + config.DIST.jsLibFile;

include ../utils/pug/lorem
include ../utils/pug/loop